
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="breadcrumb">
    <div class="container">
        <a class="breadcrumb-item" href="index.html">Home</a>
        <span class="breadcrumb-item active">Login</span>
    </div>
</div>
<section class="static about-sec">
    <div class="container">
        <h1>My Account / Login</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printer took a galley of type and scrambled it to make a type specimen book. It has survived not only fiveLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem </p>
        <div class="form">
            <form action="~/DangNhap/Index" method="post" enctype="multipart/form-data">
                @if (ViewBag.Err != null)
                {
                    <div class="row">
                        <div class="col-md-5">
                            <h5 style="color:red;">@ViewBag.Err</h5>
                        </div>
                        <div class="col-md-5">

                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-md-5">
                        <input name="username" placeholder="Enter User Name" required>
                        <span class="required-star">*</span>
                    </div>
                    <div class="col-md-5">
                        <input name="password" type="password" placeholder="Enter Password" required>
                        <span class="required-star">*</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <div class="col-md-5">
                        </div>
                        <div class="col-md-5">
                        </div>
                        <button type="submit" class="btn black">Login</button>
                        <h5>not Registered? <a href="~/DangKy/Index">REgister here</a></h5>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

